{% extends 'base.html.twig' %}

{% block body %}
<body>
  <div class="container">
    <div class="login-form">
      <a href="{{ path('login_with_google') }}" class="btn btn-primary">
      <button> Sign with Google</button>
      </a>
    </div>
  </div>
</body>
{% endblock %}